.bd {
  background-image: url(./images/JC-professional.jpg); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: 75px ;
}
.bdContact {
  background-image: url(./images/29527519_10215481199164276_192847831_o.jpg); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-top: 50px ;
}
.fa {
  font-size: 1.5rem;


}

.card {
  margin: 25px;
  opacity: 0.85;
  background-color: #2c2a2a;
  margin-top: 75px ;
  image-orientation: center;
}